body
{
  color: white;
  background: teal;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 1px dashed rgb(244, 238, 238);
  width: 350px;
  height: 350px; 
}
#result_object_name ,#result_object_gesture_icon  
{
  color: black;
  font-size: 40px;

}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

label{
  font-size:15px;
  padding:5px;
  border-radius:10px;
 background-color: white;
  color:red;
}
/* 
#prediction{
  float: right;
}

#snapshot{
  float: right;
} */